:root {
    --primary-color: #8DA9C4;
    --secondary-color: #5f80a0;
    --background: #f4eded;
    --text: #334E58;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: var(--text);
    /* remove default page gaps so navbar sits flush to window edges */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.subheading {
    text-align: center;
    margin-bottom: 50px;
}

#return {
    background-color: var(--background);
    padding: 8px;
    text-decoration: none;
    color: var(--text);
    transition: font-weight 0.5s;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px #c7d2c4;
}

#return:hover{
    background-color: #c7d2c4;
}

form {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    box-shadow: 0 0 5px #c7d2c4;
    padding: 20px;
    border-radius: 10px;
    max-width: 420px;
    margin: auto;
}

.form-input {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input, textarea, button {
    margin-top: 5px;
    border: 2px solid rgb(90, 90, 90);
    border-radius: 5px;
    padding: 10px;
    max-width: 100%;
}

input[type="submit"], button {
    background-color: #8DA9C4;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    width: 250px;
    align-self: center;
}

input[type="submit"]:hover, button:hover {
    background-color: var(--secondary-color);
}

.login-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    text-align: center;
}

.login-links a {
    background-color: #8DA9C4;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    width: 250px;
    align-self: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.login-links a:hover {
    background-color: var(--secondary-color);
}

footer {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    color: #a0a4a4;
    font-style: italic;
}

.create-account {
    text-align: center;
    margin-top: 20px;
}

.create-account a {
    color: var(--primary-color);
    font-weight: bold;
}

.create-account a:hover {
    color: var(--secondary-color)
}

.nav-bar {
    background-color: var(--background);
    box-shadow: 0 0 5px #c7d2c4;
    margin-bottom: 30px;
    width: 100%;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
}

.nav-bar ul li:first-child {
    padding-left: 20px;
}

.nav-bar ul li:nth-child(3) {
    margin-left: auto; 
}

.nav-bar ul li:last-child {
    padding-right: 20px;
    padding-left: 10px;
}

ul li a {
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
    display: block;
}

ul li a:hover {
    background-color: #c7d2c4;
}

ul li a.active {
    background-color: var(--primary-color);
    color: white;
}

.add-button {
    background-color: var(--primary-color);
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}